/* Styling for AMPEr cookie banner 
 * 1. Variables
 * 2. Helpers
 * 3. Modal
 * 4. Buttons and icon's
 * 5. Toggle switch component
 */

/* 1. Variables */
$knob-color: white;
$active-color: #e5007e;
$inactive-color: grey;

/* 2. Helpers ( Maybe this is also included, but heck .. )*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* 3. Modal */
.AMPEr_modal {
    max-width: 22rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    background-color: white;
    padding: 1rem;
    border-radius: 10px;

    &_head {
        margin: 0;
        font-size: 2rem;
    }
}

/* 4. Buttons and icon's */
.AMPEr_modal_buttons {
    button {
        margin-right: 0.625rem;
    }
    button:last-of-type {
        margin-right: 0;
    }
}

.AMPEr_btn {
        display: inline-block;
        border: none;
        padding: 0.5rem 1rem;
        margin: 0;
        text-decoration: none;
        background: #0069ed;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;

    &:hover,
    &:focus {
        background: #0053ba;
    }
    
    &:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }

    &:active {
        transform: scale(0.99);
    }
}

/* 5. Toggle switch component */
.AMPEr_switches {
    // temp layout
    li {
        margin-bottom: 0.625rem;
    }

    // Remove default list style
    padding: 0;
    margin: 0;
    list-style: none;
    // Hide default input
    input {
        position: absolute;
        left: -9999px;
    }
    // Label flex
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // Custom switch
    .AMPEr_switch {
        // Inactive switch
        span:last-child {
            position:relative;
            width: 3.125rem;
            height:1.625rem;
            border-radius: 0.9375rem;
            background: $inactive-color;
            transition: all 0.3s;

            &:before {
                content: "";
                position: absolute;
                left: 1px;
                top: 1px;
                width: 1.5rem;
                height: 1.5rem;
                background: $knob-color;
                border-radius: 50%;
                z-index: 1;
                transition: transform 0.3s;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0.5rem;
                width: 0.75rem;
                height: 0.75rem;
                transform: translateY(-50%);
                background: url(../svg/switch-unchecked.svg);
                background-size: 0.75rem 0.75rem;
            }
        }
        // Disabled switch 
        input[disabled] + label span:last-of-type {
            opacity: 0.5;
        }
        // Active switch 
        input:checked + label span:last-child {
            background: $active-color;

            &:before {
                transform: translateX(1.5rem);
            }
            &:after {
                width: 0.875rem;
                height: 0.875rem;
                left: 0.5rem;
                background-image: url(../svg/switch-checked.svg);
                background-size: 0.875rem 0.875rem;
            }
        }
    }
}
