/* Styling for AMPEr cookie banner 
 * 1. Variables
 * 2. Helpers
 * 3. Modal
 * 4. Buttons and icon's
 * 5. Toggle switch component
 */

/* 1. Variables */
$knob-color: white;
$active-color: #e5007e;
$inactive-color: grey;

/* Helpers */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* 3. Modal */
.AMPEr_modal {
    max-width: 350px;
    position: fixed;
    bottom: 15px;
    left: 15px;

    background-color: white;
    padding: 15px;
    border-radius: 10px;

    &_head {
        margin: 0;
        font-size: 2rem;
    }
}

/* 4. Buttons and icon's */


/* 5. Toggle switch component */
.AMPEr_switches {
    // temp layout
    li {
        margin-bottom: 10px;
    }

    // Remove default list style
    padding: 0;
    margin: 0;
    list-style: none;
    // Hide default input
    input {
        position: absolute;
        left: -9999px;
    }
    // Label flex
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // Custom switch
    .AMPEr_switch {
        // Inactive switch
        span:last-child {
            position:relative;
            width: 50px;
            height:26px;
            border-radius: 15px;
            background: $inactive-color;
            transition: all 0.3s;

            &:before {
                content: "";
                position: absolute;
                left: 1px;
                top: 1px;
                width: 24px;
                height: 24px;
                background: $knob-color;
                border-radius: 50%;
                z-index: 1;
                transition: transform 0.3s;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 8px;
                width: 12px;
                height: 12px;
                transform: translateY(-50%);
                background: url(../svg/switch-unchecked.svg);
                background-size: 12px 12px;
            }
        }
        // Disabled switch 
        input[disabled] + label span:last-of-type {
            opacity: 0.5;
        }
        // Active switch 
        input:checked + label span:last-child {
            background: $active-color;

            &:before {
                transform: translateX(24px);
            }
            &:after {
                width: 14px;
                height: 14px;
                left: 8px;
                background-image: url(../svg/switch-checked.svg);
                background-size: 14px 14px;
            }
        }
    }
}
